<html>
  <head>
    <title>Test Index </title>
  </head>

  <body>  
    
    <h1>Index</h1>
    <a href="firstpage.erb">New Post</a>

    <% @my_posts.each do |post| %>
      <h1><%= post[:title] %></h1>

      <p><%= post[:content] %></p>

    <% end %>  
      
  </body>
</html>
